// Imported in html from /fonts
$font-primary: 'Crimson Text',
serif;
$font-secondary: 'Work Sans',
sans-serif;


// transitions
$transition-duration: .35s;
$transition: all $transition-duration;
$transition-half: all $transition-duration / 2;


// border related
$radius: .25rem;
$border-width: 1px;


// gutter
$padding: 15px;
$margin: 15px;


// Shadows
$shadow-normal: 5px 5px 10px var(--s-normal);
$shadow-neu:10px 10px 20px var(--s-neu1),
-10px -10px 20px var(--s-neu2);

$shadow1 : 0 1px 3px var(--s-11),
0 1px 2px var(--s-12);
$shadow2 : 0 3px 6px var(--s-21),
0 3px 6px var(--s-21);
$shadow3 : 0 10px 20px var(--s-31),
0 6px 6px var(--s-32);
$shadow4 : 0 14px 28px var(--s-41),
0 10px 10px var(--s-42);
$shadow5 : 0 19px 38px var(--s-51),
0 15px 12px var(--s-52);


// Navbar
$navbar-icon-height: 16px;
$navbar-icon-height-lg: 24px;
$navbar-icon-width: $navbar-icon-height * 1.125;
$navbar-icon-width-lg: $navbar-icon-height-lg * 1.125;

$navbar-logo-height: 30px;
$navbar-logo-height-lg: 50px;

$hamburger-height: 16px;
$hamburger-height-lg: 24px;
$hamburger-line-height: 2px;
$hamburger-line-height-lg: 3px;
$hamburger-line-width: 25px;
$hamburger-line-width-lg: 35px;
$hamburger-line-space: ($hamburger-height - (3 - 2) * $hamburger-line-height) / 2;
$hamburger-line-space-lg: ($hamburger-height-lg - (3 - 2) * $hamburger-line-height-lg) / 2;

$landing-angle-height: 30px;
$landing-angle-height-md: 50px;