@keyframes slideDown {
    0% {
        transform: translate(0, -30px);
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

[data-animation="slideDown"],
section {
    animation: slideDown 1s ease;
}