.btn {
    padding: .5*$padding 1.3*$padding;
    margin: 0 .5*$margin;
    transition: $transition;
    font-weight: bold;
    color: c(black);
    border: 2px solid;
    border-image-slice: 1; // for gradient

    @include media-breakpoint-up(sm) {
        & {
            padding: .6*$padding 1.5*$padding;
            margin: 0 .9*$margin;
        }
    }

    @include media-breakpoint-up(lg) {
        & {
            margin: 0 $margin;
            padding: .75*$padding 2*$padding;
        }
    }

    &:hover {
        box-shadow: $shadow-neu;
    }

    &:active {
        box-shadow: none;
    }
}

.btn-primary {
    background: g(yellow);
    border-image-source: g(yellow);
}

.btn-secondary {
    background: transparent;
    border-image-source: g(yellow);
    color: c(yellow2);
}