// Imported in html from /fonts
$font-primary: 'Crimson Text',
serif;
$font-secondary: 'Work Sans',
sans-serif;


// transitions
$transition-duration: .35s;
$transition: all $transition-duration;


// border related
$radius: .25rem;
$border-width: 2px;


// gutter
$padding: 15px;
$margin: 15px;


// Shadows
$shadow-normal: 5px 5px 10px #191919;
$shadow-vertical: 0px 5px 10px #191919;
$shadow-neu:10px 10px 20px #0d0d0d,
-10px -10px 20px #333333;