// Bootstrap
// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// Optional
@import '../node_modules/bootstrap/scss/_navbar';
@import '../node_modules/bootstrap/scss/_transitions';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/utilities/spacing';
@import '../node_modules/bootstrap/scss/utilities/position';


@import 'variables';
@import 'colors';
@import 'animations';
@import 'buttons';
@import 'typography';

body,
html {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar {
    padding: $padding;
    transition: $transition;

    .navbar-brand {
        height: 50px;
        padding: 0;
    }

    .navbar-toggler {
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
        }
    }

    .container {
        padding: 0;
    }

    ul {
        margin-top: 0;
        text-align: center;
        padding: .5*$padding 0;
        width: fit-content;

        a {
            color: c(white);
            padding: 0 !important;
            margin: 0 .75*$margin !important;
            text-transform: uppercase;
            transition: $transition;
            font-size: 1rem;
            letter-spacing: -0.035rem; //-3.5%
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: c(white);
            }

            &:last-child {
                margin-right: 0 !important;
            }

            &.btn-primary {
                padding: 0 .5rem !important;

                &:hover {
                    border-color: initial;
                    color: c(black) !important;
                }
            }
        }

    }

    @include media-breakpoint-down(sm) {
        ul {
            margin: 0 auto;

            a {
                margin: 0 !important;
            }

            li {
                margin: 4px 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar {
        .navbar-brand {
            height: 39px;

            img {
                width: 150px;
            }
        }
    }
}

section {
    margin: $margin 0;
    padding-top: 2*$padding;
    padding-bottom: 2*$padding;
}

header+section {
    margin-top: 6*$margin;
}

#services {
    h1 {
        margin-bottom: 2*$margin;
    }
}

#gallery {
    img {
        margin-bottom: 2*$margin;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 800px;
        cursor: pointer;
        transition: $transition;
    }

    h1 {
        margin-bottom: 0;
    }

    p {
        color: c(white);
        margin: 0;
        margin-bottom: $margin;
        text-align: center;
    }
}

.landing {
    margin: $margin 0;
    padding: 0;

    .sub-heading {
        font-weight: bold;
        font-size: 1rem;
        color: rgba(#fff, .5);
        margin-bottom: .5*$margin;
    }

    .heading {
        color: c(white);
        font-family: $font-primary;
        font-weight: bold;
        font-size: 2rem;
    }

    @include media-breakpoint-up(sm) {
        .sub-heading {
            font-size: 1.75rem;
        }

        .heading {
            font-size: 3.5rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .sub-heading {
            margin-bottom: .75*$margin;
        }

        .heading {
            font-size: 4.5rem;
        }
    }
}

.bg-parallax {
    // clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
    height: 500px;
    margin-top: 3*$margin;
    background-image: url('../img/landing page img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-color: c(dark1);
    opacity: .8 !important;

    @include media-breakpoint-down(lg) {
        background-size: cover;
    }

    @include media-breakpoint-down(md) {
        background-attachment: unset;
    }

    @include media-breakpoint-down(xs) {
        // clip-path: polygon(100% 0, 100% 95%, 0 100%, 0 5%);
    }
}

hr {
    margin: 0;
    border: none;
    height: 2px;
}

footer {
    padding-top: 3*$padding;
    letter-spacing: -0.035rem;

    .row {
        padding-bottom: 3*$padding;
    }

    .footer-heading {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: c(yellow2);
    }

    .col-auto {
        margin-bottom: $margin;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            font-size: 1rem;
            text-transform: uppercase;
            color: c(white);
            // For icons
            align-items: flex-end;
            display: flex;
        }

        svg {
            height: 1rem;
            fill: c(white);
            margin-right: .25*$margin;
        }

        a {
            color: c(white);
            border-bottom: 1px solid transparent;
            align-items: flex-end;
            transition: $transition;

            &:hover {
                border-color: c(white);
            }
        }
    }

    .copy {
        line-height: 3rem;
        text-align: right;
        font-size: .75rem;
        color: c(white);
        letter-spacing: 0;
    }
}

.card {
    padding: 2*$padding;
    margin-bottom: 2*$margin;
    box-shadow: $shadow-normal;

    .card-heading {
        color: c(white);
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 2*$margin*.25;
    }

    .card-text {
        color: c(white);
        font-weight: normal;
        font-size: 1rem;
    }

    .btn {
        margin: 0 auto;
        margin-top: 2*$margin;
        width: fit-content;
        cursor: pointer;
    }
}

.slick-prev,
.slick-next {
    transform: scale(.3);

    @include media-breakpoint-down(lg) {
        & {
            display: none !important;
        }
    }
}

.slick-prev {
    left: -30px;
}

.slick-prev:before {
    content: url('../img/left-icon.png');
}

.slick-next:before {
    content: url('../img/right-icon.png');
}