{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Imports -->
  <link rel="stylesheet" href="{% static 'frontend/fonts/Crimson_Text/all/stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/fonts/Work_Sans/static/all/stylesheet.css' %}">

  <link rel="stylesheet" href="{% static 'frontend/css/main.min.css' %}">
  <title>Silk Road Rug</title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="app">

  </div>
</body>
<script src="{% static 'frontend/js/main.js' %}"></script>

</html>