// Colors
$dark0: #121212;
$colors: (dark0: #121212,
    dark1: mix($dark0, #fff, 95%),
    dark2: mix($dark0, #fff, 93%),
    dark3: mix($dark0, #fff, 92%),
    dark4: mix($dark0, #fff, 91%),
    dark5: mix($dark0, #fff, 89%),
    dark6: mix($dark0, #fff, 88%),
    dark7: mix($dark0, #fff, 86%),
    dark8: mix($dark0, #fff, 85%),
    black: #101010,

    gray1: darken(#ACACAC, 20%),
    gray2: darken(#ACACAC, 10%),
    gray3: #ACACAC,

    white: #fff,
    bright1: rgba(#fff, .95),
    bright2: rgba(#fff, .93),
    bright3: rgba(#fff, .92),
    bright4: rgba(#fff, .91),
    bright5: rgba(#fff, .89),
    bright6: rgba(#fff, .88),
    bright7: rgba(#fff, .86),
    bright8: rgba(#fff, .85),


    yellow1: darken(#F2C94C, 20%),
    yellow2: #F2C94C, // Primary
    primary: #F2C94C,

    red: #f24c4c,
);

@function c($color-name) {
    @return map-get($colors, $color-name);
}

$gradients: (yellow: linear-gradient(145deg, lighten(c(yellow2), 5%), c(yellow1)));

@function g($gradient-name) {
    @return map-get($gradients, $gradient-name);
}


// Surface colors, elevations
body {
    background: c(dark0)
}

footer {
    background: c(dark1)
}

section {
    background: c(dark1);
    box-shadow: $shadow1;
}

hr {
    background: c(dark2)
}

.card,
.filter-sidebar,
.shop-filter-card {
    background: c(dark2);
    box-shadow: $shadow2;

    .btn:not(.btn-primary),
    .card-btn {
        background: c(dark3);
    }
}

.card {
    hr {
        background: c(dark7);
    }
}

.dropdown-menu {
    background: c(dark3);
    box-shadow: $shadow1;

    .dropdown-item {
        &:hover {
            background: c(dark5);
        }

        &.active {
            background-color: c(yellow2);
            color: c(black) !important;
        }
    }
}

.note,
.disclaimer {
    color: c(white);
}

.note {
    background: c(dark2);
    box-shadow: $shadow2;
    border-color: c(white) !important;
}

.disclaimer {
    background: c(dark2);
    box-shadow: $shadow2;
    border-color: c(red) !important;
}

textarea,
input[type="text"] {
    background: c(dark5);
    color: white;

    &:focus {
        box-shadow: $shadow3;
    }
}

.sidenav {
    background: rgba(c(dark3), .9);
    box-shadow: $shadow3;
    backdrop-filter: blur(15px);

    .sidenav-menu-heading {
        color: c(yellow2);
    }

    .sidenav-svg-2 {
        fill: c(white);
    }

    .nav-link {
        color: c(white);
        border-bottom: 2px solid transparent;

        &:hover {
            border-color: c(white);
        }
    }

    .sidenav-collapse-arrow {

        svg {
            color: rgba(#fff, .5);
        }
    }
}

.navbar {
    background: rgba(c(dark4), .9);
    box-shadow: $shadow4;
    backdrop-filter: blur(15px);

    .navbar-icon {
        svg {
            color: c(gray3);
            transition: $transition-half;

            &:hover {
                color: c(white);
            }
        }
    }

    .hamburger-inner {

        &,
        &:after,
        &:before {
            background-color: c(gray3)
        }
    }
}

@include media-breakpoint-down(sm) {
    .navbar-collapse {
        background: c(dark3);
        box-shadow: $shadow3;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.form-check-label,
.text-white {
    color: c(white);
}

.text-gray {

    &,
    * {
        color: c(gray3);
    }
}

small,
i,
.shop-card~p {
    color: c(gray3) !important;
}

.dropdown-heading {
    color: c(primary);
}

input[type="radio"],
input[type="checkbox"] {
    background: c(dark1);
    border-color: c(dark5) !important;

    &:hover {
        background: c(dark0);
    }

    &:checked:before {
        background: c(primary);
    }
}

.card-btn {
    color: c(yellow2) !important;
}

.dropdown-item {
    color: c(white) !important;
}

#filterToggle {
    background: c(dark2);
    box-shadow: $shadow2;
    border-image-source: g(yellow) !important;

    svg {
        color: c(primary);
    }
}

.gmap_canvas,
.carousel img {
    box-shadow: $shadow2;
}

ul.style-default {
    li:before {
        background: c(primary);
    }
}

.cart.card {
    p {
        color: c(gray3);
    }
}