// Bootstrap
// Required
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
// Optional
@import '../../../node_modules/bootstrap/scss/_navbar';
@import '../../../node_modules/bootstrap/scss/_transitions';
@import '../../../node_modules/bootstrap/scss/_dropdown';
@import '../../../node_modules/bootstrap/scss/_nav';
@import '../../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../../node_modules/bootstrap/scss/utilities/spacing';
@import '../../../node_modules/bootstrap/scss/utilities/position';

// Slick
@import '../../../node_modules/slick-carousel/slick/slick';
@import '../../../node_modules/slick-carousel/slick/slick-theme';

@import 'variables';
@import 'colors';
@import 'buttons';
@import 'typography';
@import 'navbar';
@import 'scrollbar';
@import 'forms';
@import 'reactSuite';

body,
html {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    margin-bottom: 2px;
    padding-top: 2*$padding;
    padding-bottom: 2*$padding;

    hr+p {
        color: c(white);
        margin: 0;
        margin-bottom: $margin;
        text-align: center;
    }
}

#services {
    h1 {
        margin-bottom: 2*$margin;
    }
}

#gallery {
    img {
        margin-bottom: 2*$margin;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 800px;
        cursor: pointer;
        transition: $transition;
    }

    h1 {
        margin-bottom: 0;
    }
}

.landing {
    margin-top: $margin;
    padding: 0;
}

.sub-heading {
    font-weight: bold;
    font-size: 1rem;
    color: c(gray3);
    margin-bottom: .5*$margin;
}

.heading {
    color: c(white);
    font-family: $font-primary;
    font-weight: bold;
    font-size: 2rem;
}

@include media-breakpoint-up(sm) {
    .sub-heading {
        font-size: 1.75rem;
    }

    .heading {
        font-size: 3.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .sub-heading {
        margin-bottom: .75*$margin;
    }

    .heading {
        font-size: 4.5rem;
    }
}

.bg-parallax {
    // clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
    height: 500px;
    margin-top: 3*$margin;
    background-image: url('../img/landing page img.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: c(dark1);
    opacity: .8 !important;

    @include media-breakpoint-up(lg) {
        height: 600px;
    }
}

hr {
    margin: 0;
    border: none;
    height: 2px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer {
    padding-top: 3*$padding;
    letter-spacing: -0.035rem;

    .row {
        padding-bottom: 3*$padding;
    }

    .footer-heading {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: c(yellow2);
    }

    .col-auto {
        margin-bottom: $margin;
    }

    .copy {
        line-height: 3rem;
        text-align: right;
        font-size: .75rem;
        color: c(white);
        letter-spacing: 0;
    }
}

ul {
    li {
        font-size: 1rem;
        text-transform: uppercase;
        color: c(white);
        // For icons
        align-items: flex-end;
        display: flex;
    }

    svg {
        height: 1rem;
        fill: c(white);
        margin-right: .25*$margin;
    }

    a {
        color: c(white);
        border-bottom: 1px solid transparent;
        align-items: flex-end;
        transition: $transition-half;

        &:hover {
            border-color: c(white);
        }
    }
}

.card {
    padding: 2*$padding;
    margin-bottom: 2*$margin;

    .row .btn {
        margin: 0;
        margin-top: $margin * 2 / 3;
        margin-left: $margin;

        @include media-breakpoint-only(sm) {
            width: 100%;
        }
    }

    .card-heading {
        margin-bottom: 2*$margin*.25;
    }

    .card-text {
        color: c(white);
        font-weight: normal;
    }
}


.shop-filter-card {
    padding: $padding;
    margin: $margin 0;

    .card-heading {
        border-bottom: 1px solid c(gray3);
        padding-bottom: $padding / 3;
    }
}

#shop {
    h2 {
        margin-top: 2*$margin;
    }

    .slick-prev,
    .slick-next {
        transform: scale(.3) translateY(-100px);
    }
}

.dropdown-menu {
    border-radius: 0;
    border: 0;
    max-height: 500px;
    overflow-y: auto;

    .dropdown-item {
        cursor: pointer;
    }
}

.shop-card-a {

    .shop-card:after {
        content: "View";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
        opacity: 0;
        transition: $transition;
    }

    &:hover {
        img {
            opacity: .25;
        }

        .shop-card:after {
            transform: translate(-50%, -50%);
            opacity: 1;
        }
    }
}

.shop-card {
    margin-bottom: $margin / 3;
    position: relative;

    img {
        opacity: 1;
        width: 100%;
        transition: $transition;
    }

    &~.price {
        margin: 0;
        margin-bottom: $margin;
    }
}

.slick-list {
    transition: height $transition-duration;
}

.slick-prev,
.slick-next {
    transform: scale(.3);

    @include media-breakpoint-down(sm) {
        & {
            display: none !important;
        }
    }
}

.slick-prev {
    left: -35px;
}

.slick-prev:before {
    content: url('../img/left-icon.png');
}

.slick-next:before {
    content: url('../img/right-icon.png');
}

ul.style-default {
    margin: $margin 0;
    padding-left: 2*$padding;

    li {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -$padding;
            transform: translate(-50%, -50%);

            width: .5rem;
            height: .5rem;
            border-radius: 50%;
        }
    }
}

.dropdown-heading {
    padding: 0;
    margin: $margin * 2 / 3 $margin * 2 / 3;
}

.filter-sidebar {
    width: 100%;
    max-width: 350px;
    position: fixed;
    left: 0;
    top: $navbar-logo-height + 2*$padding;
    z-index: 1000;

    padding: 2*$padding;
    // margin-right: 2*$margin;

    @include media-breakpoint-down(md) {
        &:not(.toggled) {
            transform: translateX(-100%);
            transition: $transition;
        }
    }

    &.toggled {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        transition: $transition;
        transform: translateX(0);
    }

    @include media-breakpoint-up(sm) {
        width: unset;
    }

    @include media-breakpoint-up(lg) {
        position: static;
        height: 100%;
        transform: translateX(0);
        top: $navbar-logo-height-lg + 2*$padding;
    }

    h3 {
        margin-top: $margin * 2;
        margin-bottom: $margin / 3;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &+div {
        transition: $transition;
        min-height: 100vh;
    }
}

#filterToggle {
    display: flex;
    position: fixed;
    bottom: 2*$margin;
    right: 2*$margin;
    z-index: 99999;

    height: 3*$margin;
    width: 3*$margin;
    border: 2px solid;
    border-image-slice: 1;
    cursor: pointer;
    transition: $transition;

    &:active {
        box-shadow: none;
    }

    svg {
        height: 1.5*$margin;
        width: 1.5*$margin;
        margin: auto;
    }

    @include media-breakpoint-up(lg) {
        display: none;
    }
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
    margin-bottom: 2*$margin;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;

    iframe {
        height: 500px;
        width: 100%;
    }
}

.mh-100 {
    min-height: 100vh;
}

.mh-50 {
    min-height: 50vh;
}

.cart.card {
    display: flex;
    position: relative;

    .col-12 {
        margin-right: 2*$margin;
        margin-bottom: $margin;

        @include media-breakpoint-up(sm) {
            margin-bottom: 0;
        }
    }

    img {
        width: 100%;
    }

    h3.price {
        margin-bottom: 2*$margin;
    }

    .container {
        margin-top: 2*$margin;
    }

    .close-btn {
        position: absolute;
        top: 2*$margin;
        right: 2*$margin;
        height: 20px;
        width: 20px;
        transition: $transition;
        cursor: pointer;
    }

    .row {
        margin-bottom: $margin;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    p {
        text-align: end;
        margin-bottom: 0;
    }

    ul {

        margin: $margin * 2 / 3 0;

        @include media-breakpoint-up(md) {
            margin: $margin 0;
        }
    }

}

#service {
    img {
        width: 100%;
        margin: $margin 0;
    }

    .row {

        .col-12 {
            display: block;
            margin: auto;
        }
    }
}

h3.required:after {
    content: "*";
}

.disabled {

    &,
    * {
        opacity: .25;
    }
}

.w-100 {
    width: 100%;
}

.w-max-content {
    width: max-content;
}

.cart-header {
    text-align: right;
    width: max-content;
    margin-left: auto;

    ul {
        padding: $padding * 2/ 3 0;

        li span {
            padding-left: $padding;
        }
    }

    .total {
        text-align: right;
        margin-bottom: $margin;

        p.price {
            margin: 0;
        }
    }
}

.full-page-noscroll {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .centered-div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .btn {
            margin: $margin auto;
        }
    }
}

.loading {

    // &,
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: $transition;
        z-index: 99999;
    }

    &:before {
        content: '';
        position: fixed;
        top: 50%;
        left: 50%;
        width: 60px;
        height: 60px;
        border: 6px solid #facf5a;
        border-top-color: transparent;
        border-radius: 50%;
        animation: rotate 1s linear infinite;
        transition: $transition;
        z-index: 100000;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.overflow-hidden {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.transition {
    transition: $transition
}

img.thumbnail {
    cursor: pointer;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    transition: $transition;
    margin: 0 $margin * 2 / 3 $margin * 2 / 3 0;

    &:hover {
        opacity: .5;
    }

    &.selected {
        transform: scale(1);
    }
}

footer img {
    box-shadow: none;
}

.price {
    &.discounted {
        opacity: .5;
    }
}

.badge {
    color: inherit;
    border: 1px solid;
    display: inline-block;
    padding: .25em .4em;
    margin-left: .4em;
    font-size: 75%;
    font-weight: inherit;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}